<h1><%= @survey.title %></h1>

<!-- Loop through questions -->
<!-- Loop through each question's answers in form? -->
<!-- Maybe like you did with the other thing... -->

<form class="possible_choices" action="/choices" method="post">    

  <% @questions.each do |question| %>
    <h2><%= question.text %></h2>

      <% question.answers.each do |possible_answer| %>
        <input type="radio" name="choice[<%= question.id %>]" value="<%= possible_answer.id %>"> <%= possible_answer.text %>
      <% end %>

  <% end %>
  <br>
  <input type="submit" value="Submit choices">
</form>

