<h2><%= @survey.title %></h2>

<form class="current-survey" action="/choices" method="post"> 
  <input type="hidden" name="survey_id" value="<%= @survey.id %>">   

  <% @questions.each do |question| %>
    <h2><%= question.text %></h2>

      <% question.answers.each do |possible_answer| %>
        <input type="radio" name="choice[<%= question.id %>]" value="<%= possible_answer.id %>"> <%= possible_answer.text %>
      <% end %>

  <% end %>
  <br>
  <input type="submit" value="Submit choices">
</form>

