<h2><%= @survey.title %></h2>

<div class="current-survey">

  <form class="survey-form" action="/choices" method="post"> 
    <input type="hidden" name="survey_id" value="<%= @survey.id %>">   

    <% @questions.each do |question| %>
      <h3><%= question.text %></h3>

        <% question.answers.each do |possible_answer| %>
          <input type="radio" name="choice[<%= question.id %>]" value="<%= possible_answer.id %>"> <%= possible_answer.text %>
          <br>
        <% end %>

    <% end %>
    <br>
    <input class="pretty-button" type="submit" value="Submit choices">
  </form>
</div>